body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 30px;
    animation: mahbub 2s infinite;
}
@keyframes mahbub{
    0%{
        color: coral;
    }
    25%{
        color: cyan;
    }
    50%{
        color:lightblue;
    }
    75%{
        color: darkgreen;
    }
    100%{
        color: coral;
    }
}
h2, h3{
       animation: mahbub 2s infinite;
}
@keyframes mahbub{
    0%{
        color: coral;
    }
    25%{
        color: cyan;
    }
    50%{
        color:lightblue;
    }
    75%{
        color: darkgreen;
    }
    100%{
        color: coral;
    }
}
span{
    color:orange;
}
.top-banner{
    background-image: url("top-banner.png");
    height:450px;
    background-repeat: no-repeat;
}
.half-width p{
    text-align: justify;
    word-spacing: 15px;
}
.half-width{
    width:40%;
    margin-left: 5%;
    padding-left:2%;
    float:left;
    height: 450px;
}
.half-width img{
    width:100%;
}
a{
    text-decoration: none;
    border: 2px double black;
    border-radius: 10px;
    color: red;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 6px;   
}
a:hover{
    text-decoration: none;
    border: 2px double black;
    border-radius: 10px;
    color: coral;
    background-image: linear-gradient(45deg, blue, cyan);
    padding: 6px; 
    transition: 1s ease-in;  
}
.middle-banner{
    background-image: url("dream-bg.png");
    height:450px;
    background-repeat: no-repeat;
    background-position: right;
}
.background-experience{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
    transform: translateY(25px);
}
p{
    text-align: justify;
    word-spacing: 20px;
}
.box-shadow-right{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 15px 15px 45px gray ;
    border-left: 5px solid orangered;
  
}
.box-shadow-right:hover{
    border-image: linear-gradient(180deg, blue, cyan);
    transform: translateY(-10px);
    transition:1s ease-in;
    background-image: linear-gradient(180deg, whitesmoke, lightsalmon);
    border-radius:10px;
    border: 7px solid;
    box-shadow: 15px 15px 45px gray ;
}
.box-shadow-left{
    background-color:whitesmoke;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, cyan);
    border-image-slice: 1;
    box-shadow: 15px 15px 45px gray ;
    border-left: 5px solid orangered;
}
.box-shadow-left:hover{
    background-color:whitesmoke;
    border: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, cyan);
    border-image-slice: 1;
    box-shadow: 15px 15px 45px gray ;
    transform:translateX(-10px);
    background-image: linear-gradient(190deg, lightgreen, lightsalmon);
    transition: 1s ease-in-out;
}

footer{
    width: 50%;
    padding:15px;
    font-size:10px;
    text-align:center;
    display: inline-block;
}